/* ************************************
* file name: common.css
* Create personnel: 李艳
* Create Date: 2012-11-04
* contact: looyoo1000@yahoo.com.cn
* content: CNPIEC-公用部分样式文件
************************************ */

html,body {
	margin: 0 auto;
	padding: 0;
	border: 0 none;
	width:100%;
	height: 100%;
	TEXT-ALIGN: center;
	font-size:12px;
	font-family:"宋体", arial;
	background:#EBEBEB url(../../images/picnic_top_back.jpg) 0 0 repeat-x;
	
}
html>body{		/*-- for !IE6.0 --*/
	width: auto;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
ol,ul,li{list-style:none;margin:0;padding:0;font-size:12px;font-weight:normal;font-family:"宋体", arial;}
img,body,html{border:0;margin:0;padding:0}
.clearit{clear:both;}
.clear{clear:both;height:10px;}
p {
	margin: 0px;
}
a{/*去掉IE下点击链接时的焦点虚线框*/
	blr:expression(this.onFocus=this.blur());
}
a:focus{/*去掉Firefox点击链接时的焦点虚线框*/
	outline:none
}

.indent_style_none{/*文本缩进*/
	text-indent:0em !important;
}


/*------------------------ @定义 页面布局样式  begin------------------------------- */
.mainContainer{
    background: url("../../images/bgContainer.jpg") repeat-y 0 0;
    margin:0 auto;
	width:950px;
	overflow:hidden;
}
.leftContainer{
	float:left;
	width:700px;
	height:auto;
}
.rightContainer{
	float:left;
	width:230px;
	margin:8px 0 0 6px;
	padding-bottom:10000px; /*控制左侧随右侧高度自适应*/
	margin-bottom:-10000px; /*控制左侧随右侧高度自适应*/
}
